@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    background-image: url("image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container { 
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font: 2rem;
 }

 .fa-quote-left, .fa-quote-right {
    font-size: 4rem;
 }

 .quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
 }

 .button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
      flex-direction: column;
      align-items: center;
      height: 100px;
 }

 button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
 }

 button:hover {
    filter: brightness(90%);
 }

 button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
 }

 .twitter-button:hover {
    color: #38a1f3;
 }

 .facebook-button:hover {
    color: #4267B2;
 }

 .whatsapp-button:hover i {
    color: #4ac959;
 }

 .instagram-button:hover i {
    background-image: linear-gradient(to bottom, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    display: inline-block;
 }

 .fa-twitter, .fa-facebook, .fa-whatsapp, .fa-instagram {
    font-size: 1.5rem;
 }

 #link {
   color: whitesmoke;
   text-decoration: none;
 }

 .social {
   width: 340px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 /* .loader { */
        /* border: 16px solid #f3f3f3; /* Light grey */
        /* border-top: 16px solid #333; Blue */ 
        /* border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      } */
/*       
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      } */
 

 /* Media querry: Tablet or Smaller */

 @media screen and (max-width: 1500px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
      font-size: 35px;
    }

    #quote-text {
        font-size: 2.5rem;
    }
 }